.login_container{
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 28px;
    position: relative;
    display: block;
    .login_closeButton{
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: none;
        position: absolute;
        right: 20px;
        top: 20px;
        background-image: url('../icon/guanbi_o.png');
        background-position: center center;
        background-size: 90%;
        background-repeat: no-repeat;
    }
    .login_closeButton:hover{
        background-image: url('../icon/guanbi_o_r.png');
    }
    .login_loginText{
        width: 100px;
        height: 30px;
        line-height: 30px;
        // background-color: bisque;
        font-size: large;
        text-align: center;
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .login_input_outer_Container{
        width: 250px;
        height: 150px;
        // background-color: aquamarine;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -40%);
        .login_input_inner_container{
            $inputWidth : 180px;
            $inputHeight : 30px;
            width: 100%;
            height: $inputHeight;
            // background-color: azure;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            span{
                font-size: small;
            }
            .login_input{
                width: $inputWidth;
                height: $inputHeight - 2px;
                font-size: 13px;
                border: solid 1px black;
                outline: none;
                border-radius: 5px;
            }
            
        }
        // .login_input_inner_container:nth-child(2) > .login_input{
        //     margin-left: 17px;
        // }
        .login_input_button_container{
            width: 200px;
            height: 45px;
            // background-color: brown;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 60%);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .login_input_button_divider{
                width: 1px;
                height: 45px;
                background-color: black;
            }
            .login_input_button{
                width: 60px;
                height: 35px;
                border: solid 1px black;
                border-radius: 5px;
                background-color: white;
                transition: all 0.2s linear;
                
            }
            .login_input_button:hover{
                background-color: rgba(	0, 229, 238, 1.0);
                border: solid 1px white;
                color: white;
            }
        }
        
        
    }
    
}