@import '../../style/public.scss';

.sideBar {
	width: 200px;
	height: 100vh;
	background-color: #f2f2f5;
	padding: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	.sideTitle{
		font-family: 'Microsoft YaHei';
		font-size: 16px;
		font-weight:700;
	}
	.nav-item {
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
		padding: 10px 15px;
		border-radius: 8px;
		color: #252020;
		text-decoration: none;
		transition: background-color 0.3s;
		&:hover {
			background-color: #ffc58b57;;
		}
	}
	.active {
		background-color: #ffc58b57; // 蓝色高亮
		color: #ffb265; // 蓝色高亮
		
	}
}



