$photoImageListHeaderHeight: 40px;
@mixin photoButtonColor {
    background-color: $color_main_bg;
    color: #555;
    &:hover {
        background-color: #e4e4e8;
        color: $color_main;
    }
    &.active,&:active {
        color: $color_main;
        background-color: lighten($color_main, 35%);
    }
}