.display_container{
    width: 100%;
    height: auto;
    min-height: 100%;
    background-color: transparent;
    // display: flex;
    flex-grow: 1;
    // flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    // align-items: center;
    // .display_banner_item{
    //     height: 50px;
    //     line-height: 50px;
    //     background-color: red;
    //     color: black;
    //     text-align: center;
    // }
    .display_input_container{
        width: 60%;
        height: 80px;
        // background-color: aqua;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        .display_input_inner_container{
            $inputHeight: 30px;
            width: 70%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            // background-color: brown;
            .display_input_input{
                $inputPadding: 25px;
                width: 80%;
                height: $inputHeight;
                border: solid 1px black;
                border-right: none;
                outline: none;
                padding-left: $inputPadding;
                padding-right: $inputPadding;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
            }
            .display_input_img{
                width: 20%;
                height: $inputHeight;
                background: url('../../icon/sousuo_b.png') no-repeat center center;
                background-size: 30%;
                // background-color: bisque;
                border: solid 1px black;
                border-left: none;
                box-sizing: content-box;
                cursor: pointer;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                transition: all 0.1s ease-in-out;
            }
            .display_input_img:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
            .display_input_img:active{
                background-color: transparent
            }
        }
        
    }
    
    .display_navBar{
        $routesListItemHeight: 40px;
        width: 80%;
        height: auto;
        min-height: $routesListItemHeight;
        padding: 0;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        // background-color: aqua;
        flex-wrap: wrap;
        overflow: hidden;
        .display_navBar_item{
            
            width: 20%;
            height: $routesListItemHeight;
            line-height: $routesListItemHeight;
            text-align: center;
            list-style: none;
            cursor: pointer;
        }
        .display_navBar_item_selected{
            color: rgb(223, 16, 16);
        }
    }
    
}
.display_container::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 10px;
    background: transparent;
    display: block;
}
// .display_container:hover::-webkit-scrollbar{
//     background: transparent;
//     display: inline-block;
//     position: absolute;
// }
.display_container::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: rgba(21, 19, 116, 0.5);
}






