.navcolumn_container{
    background-color: red;
    width: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    .navcolumn_listContainer{
        width: 100%;
        height: 200%;
        background-color: aliceblue;
    }
}
.navcolumn_container::-webkit-scrollbar{
    -webkit-appearance: none;
    width: 10px;
    background: wheat;
    display: none;
}
.navcolumn_container:hover::-webkit-scrollbar{
    background: transparent;
    display: block;
}
.navcolumn_container::-webkit-scrollbar-thumb{
    -webkit-appearance: none;
    border-radius: 5px;
    background-color: rgba(21, 19, 116, 0.5);
}





