.newSongRec_newSongRec_outer_container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    background-color: red;
    .newSongRec_newSongRec_text{
        width: 100%;
        height: 50px;
        background-color: blanchedalmond;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .newSongRec_newSongRec_text_topic{
            font-size: 20px;
        }
        .newSongRec_newSongRec_text_sort_container{
            width: 350px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: transparent;
            margin-left: 55px;
            .newSongRec_newSongRec_text_sort{
                font-size: 12px;
                cursor: pointer;
            }
            .newSongRec_newSongRec_text_sort_active{
                color: rgb(223, 16, 16);
            }
        }
    }
    .newSongRec_newSongRec_container{
        width: 100%;
        height: auto;
        list-style: none;
        background-color: antiquewhite;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
        padding: 0;
        overflow: hidden;
        .newSongRec_newSongRec_song_container{
            $itemHeight: 65px;
            $itemImgRadius: 15px;
            width: 250px;
            height: $itemHeight;
            margin: 10px;
            background-color: aliceblue;
            border-radius: $itemImgRadius;
            position: relative;
            .newSongRec_newSongRec_song_img_container{
                width: $itemHeight;
                height: $itemHeight;
                border-radius: $itemImgRadius;
                position: absolute;
                left: 0;
                cursor: pointer;
                .newSongRec_newSongRec_song_img{
                    width: $itemHeight;
                    height: $itemHeight;
                    border-radius: $itemImgRadius;
                    position: absolute;
                    left: 0;
                    
                }
                .newSongRec_newSongRec_song_img_curtain{
                    width: $itemHeight;
                    height: $itemHeight;
                    border-radius: $itemImgRadius;
                    background: url('../../../icon/bofang_w.png') no-repeat center center;
                    background-size: 75%;
                    background-color: rgba(0, 0, 0, 0.5);
                    position: absolute;
                    left: 0;
                    display: none;
                }
            }
            .newSongRec_newSongRec_song_img_container:hover .newSongRec_newSongRec_song_img_curtain{
                display: block;
            }
            
            .newSongRec_newSongRec_song_text_Container{
                width: 100px;
                height: $itemHeight;
                
                position: absolute;
                left: 80px;
                .newSongRec_newSongRec_song_name{
                    $nameSize: 14px;
                    width: 100%;
                    height: $nameSize;
                    line-height: $nameSize;
                    font-size: $nameSize;
                    // background-color: aquamarine;
                    overflow: hidden;
                    cursor: pointer;
                }
                .newSongRec_newSongRec_song_artists{
                    $artistsSize: 12px;
                    width: 100%;
                    height: $artistsSize;
                    line-height: $artistsSize;
                    font-size: $artistsSize;
                    overflow: hidden;
                    cursor: pointer;
                }
            }
        }
        
    }
}